/* 
	HW3 CS6410 Bryce Paubel 4/4/2022
	Some quick formatting to allow the page to handle the majority of resizing
*/

/* basic formatting for the whole page */
html, body {
	width: 100%
	height 100%
	overflow: hidden;
	margin: 0;
	padding: 0;
}

/* formatting for the canvas display element */
#canvas {
	position: relative;
	display: block;
	margin: auto;
	margin-top: 0.5em;
	margin-bottom: 0.3em;
}

/* formatting for the vertex information displayed */
#info {
	margin-left: 0.5em;
}